.container {
  width: 100%;
  max-width: 1280px;
  margin: 0 auto;
  font-family: Arial;
  font-weight: 400;
}

/* header */
.page-header {
  width: 100%;
  padding: 25px 50px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background-color: #445161;
  color: #ffffff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.page-header-block::after {
  max-width: 400px;
  width: 100%;
  float: left;
}

.page-header-title {
  margin: 0 0 40px 0;
  font-size: 65px;
  font-weight: 400;
}

.page-header-list {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.page-header-list-item {
  margin: 0 0 10px 0;
  padding: 0 0 0 21px;
  font-size: 20px;
  line-height: 23px;
  font-weight: 400;
  position: relative;
}

.page-header-list-item::before {
  content: "";
  display: block;
  width: 16px;
  height: 13px;
  position: absolute;
  top: 5px;
  left: 0;
  background-image: url("./img/Vector.png");
  background-size: cover;
}

.page-header-pic {
  display: block;
  width: 472px;
  height: 217px;
  background-color: #fff;
  color: #000;
  float: right;
}

/* end header*/
/*main*/
.content-about {
  width: 100%;
  padding: 45px 50px 50px 50px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: black;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.content-about-block {
  padding: 0;
  width: 646px;
}

.content-title {
  margin: 0 0 17px 0;
  font-size: 30px;
  line-height: 36px;
  font-weight: 400;
  color: #445161;
}

.text {
  margin: 0 0 11px 0;
  font-size: 16px;
  line-height: 24px;
}

.text:last-child {
  margin: 0;
}

.about-video {
  display: block;
  background-color: #445161;
  color: white;
  float: right;
}

.pluses {
  width: 100%;
  padding: 25px 20px 50px 50px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background-color: #F5F5F5;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.pluses-title {
  width: 100%;
  display: block;
  text-align: center;
  font-size: 30px;
  line-height: 36px;
  color: #445161;
  margin: 0 0 30px 0;
}

.pluses-list-wrp {
  width: 50%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.pluses-list {
  width: 100%;
  min-height: 30px;
  margin: 0 0 20px 0;
  padding: 0 0 0 30px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-size: 16px;
  line-height: 24px;
}

.pluses-list-item {
  font-size: 16px;
  line-height: 24px;
  display: block;
  outline: none;
  position: relative;
}

.pluses-list-item:-webkit-details-marker {
  display: none;
}

.pluses-list-item::before {
  content: "+";
  display: block;
  width: 25px;
  height: 25px;
  background-color: #445161;
  color: #fff;
  font-size: 22px;
  text-align: center;
  font-weight: bold;
  line-height: 25px;
  position: absolute;
  top: 5px;
  left: -30px;
}

/* scrinshots*/
.scrinshots {
  width: 100%;
  margin: 0;
  padding: 0;
}

.block-site {
  padding: 25px 42px 50px 50px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.scrin {
  margin: 0 0 45px 0;
  font-weight: 400;
}

.scrin-wrp {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.screenshots-item {
  width: 50%;
  margin: 0 0 20px 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.screenshots-photo {
  display: block;
  margin: 0 15px 0 0;
  background-color: #445161;
  color: white;
}

.screenshots-item-txt {
  width: 80%;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.screenshots-item-txt h3 {
  margin: 0 0 13px 0;
  width: 340px;
}

.screenshots-item-txt p {
  margin: 0 0 0 0;
}

.texting {
  margin: 0 0 11px 0;
  font-size: 16px;
  line-height: 24px;
  color: #333333;
}

/*reviews*/
.reviews {
  width: 100%;
  padding: 25px 50px 42px 50px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background-color: #F5F5F5;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.rev {
  margin: 0 0 29px 0;
  font-weight: 400;
}

.reviews-img {
  width: 66px;
  height: 66px;
  background-color: #445161;
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
}

.reviews-img::before {
  position: absolute;
  top: 5px;
  left: -30px;
}

.reviews-text {
  width: 483px;
  height: 121px;
  margin-left: 50px;
  background-color: #ccc;
  border-radius: 5px;
  position: relative;
  font-family: Roboto;
  font-style: italic;
  font-weight: normal;
  font-size: 14px;
  line-height: 18px;
  color: #000000;
  padding: 16px 10px 20px 15px;
}

.reviews-text::before {
  content: "";
  border: 15px solid transparent;
  border-right: 15px solid #ccc;
  position: absolute;
  top: 20px;
  left: -30px;
}

.reviews-link {
  font-family: Roboto;
  font-style: italic;
  font-weight: normal;
  font-size: 14px;
  line-height: 18px;
  /* identical to box height, or 129% */
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #989898;
}
/*# sourceMappingURL=style.css.map */